@model DAL.Models.Cliente

@{
    ViewBag.Title = "Edit";
}

<br />
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#tab_1" data-toggle="tab">Datos Cliente</a>
    </li>
    <li>
        <a href="#tab_2" data-toggle="tab">Datos domicilio</a>
    </li>

</ul>


<div class="tab-content">
    <div class="tab-pane  active" id="tab_1">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Cliente</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CodCli)

                <div class="form-group">
                    @Html.LabelFor(model => model.nomcli, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nomcli, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nomcli, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.tipdoc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tipdoc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tipdoc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.numdoc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.numdoc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.numdoc, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>

            <h4>Datos domicilio</h4>
            <table class="table">


                @foreach (var item in Model.DomCli)
                {
                    <tr>
                        <td>
                            Direccion:
                            @Html.DisplayFor(modelItem => item.direccion)
                            <br />
                            Estado:
                            @Html.DisplayFor(modelItem => item.estado)
                            <br />
                            Telefono
                            @Html.DisplayFor(modelItem => item.telefono)
                            <br />
                            Correo
                            @Html.DisplayFor(modelItem => item.correo)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", "DomClis", new { CodCli = item.CodCli.Trim(), CodDom = item.CodDom.Trim() }, null)
                        </td>
                        <td>
                            @Html.ActionLink("Eliminar", "Delete", "DomClis", new { CodCli = item.CodCli.Trim(), CodDom = item.CodDom.Trim() }, null)
                        </td>
                    </tr>
                }

            </table>
        }

    </div>
    <div class="tab-pane fade" id="tab_2">
        <table class="table">


            @foreach (var item in Model.DomCli)
            {
                <tr>
                    <td>
                        Direccion:
                        @Html.DisplayFor(modelItem => item.direccion)
                        <br />
                        Estado:
                        @Html.DisplayFor(modelItem => item.estado)
                        <br />
                        Telefono
                        @Html.DisplayFor(modelItem => item.telefono)
                        <br />
                        Correo
                        @Html.DisplayFor(modelItem => item.correo)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit","DomClis", new { CodCli = item.CodCli.Trim(), CodDom=item.CodDom.Trim() },null)
                    </td>
                    <td>
                        @Html.ActionLink("Eliminar", "Delete", "DomClis", new { CodCli = item.CodCli.Trim(), CodDom = item.CodDom.Trim() },null)
                    </td>
                </tr>
            }

        </table>

    </div>
</div>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
