@model DAL.Models.Proveedor



@{
    ViewBag.Title = "Nuevo Proveedor";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <div class="card-head">
                <header>Nuevo Proveedor</header>
                <button id="panel-button"
                        class="mdl-button mdl-js-button mdl-button--icon pull-right hidden"
                        data-upgraded=",MaterialButton">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    data-mdl-for="panel-button">
                    <li class="mdl-menu__item"><i class="material-icons">assistant_photo</i>Action</li>
                    <li class="mdl-menu__item"><i class="material-icons">print</i>Another action</li>
                    <li class="mdl-menu__item"><i class="material-icons">favorite</i>Something else here</li>
                </ul>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
             

            <div class="card-body row">
                <div class="col-lg-6 p-t-20 hidden">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        @Html.EditorFor(model => model.CodPrv, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                        @Html.LabelFor(model => model.CodPrv, htmlAttributes: new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(model => model.CodPrv, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        @Html.EditorFor(model => model.NomPrv, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                        @Html.LabelFor(model => model.NomPrv, htmlAttributes: new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(model => model.NomPrv, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6 p-t-20">
                    @Html.LabelFor(model => model.estado, "Estado", htmlAttributes: new { @class = "mdl-textfield__label col-md-2" })
                    <br />
                    @Html.DropDownListFor(model => model.estado, new SelectList(
                    new List<Object>{
                    new { value = "001" , text = "Activo"  },
                    new { value = "002" , text = "Anulado" },
                    },
                    "value",
                    "text",
                    2), new { @class = "form-control" })
                    <br />
                </div>
                <div class="col-lg-6 p-t-20">
                    @Html.LabelFor(model => model.tipdoc, "Tipo Doc", htmlAttributes: new { @class = "mdl-textfield__label col-md-2" })
                    <br />
                    @Html.DropDownListFor(model => model.tipdoc, new SelectList(
                    new List<Object>{
                    new { value = "01" , text = "DNI"  },
                    new { value = "02" , text = "RUC" },
                    new { value = "03" , text = "Carnet de extrajeria" },
                    },
                    "value",
                    "text",
                    2), new { @class = "form-control" })
                    <br />
                </div>
                <div class="col-lg-6 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        @Html.EditorFor(model => model.numdoc, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                        @Html.LabelFor(model => model.numdoc, htmlAttributes: new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(model => model.numdoc, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6 p-t-20">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "mdl-textfield__input" } })
                        @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "mdl-textfield__label" })
                        @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row col-12">
                    <div class="col-6 text-left">
                        @Html.ActionLink("reply_all", "Index", null, new { @class = "material-icons", data_toggle = "tooltip", data_placement = "top", title = "Volver", @style = "color:black" })
                    </div>

                    <div class="col-6 text-right">
                        <button type="submit" class="material-icons" data-toggle="tooltip" data-placement="top" title="Grabar">save</button>
                    </div>
                </div>

            </div>

            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
