@model IEnumerable<DAL.Models.TabFotos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("content_copy", "Create",null, new { @class = "material-icons", @style = "color:black", data_toggle = "tooltip", data_placement = "top", title = "Nuevo" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.CodLin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.CodLin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foto)
        </td>
        <td>
            @Html.ActionLink("create", "Edit", new { tipo = item.Tipo.Trim(), codigo=item.Codigo.Trim(), item=item.item }, new { @class = "material-icons", @style = "color:black", data_toggle = "tooltip", data_placement = "top", title = "Editar" }) 
        </td>
    </tr>
}

</table>
