@model IEnumerable<DAL.Models.Almacen>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DesAlm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DesAlm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Ver productos", "ListarProductosAlmacen", "ProAlms",new { codAlm = item.CodAlm.Trim() },null)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CodAlm.Trim() })
        </td>
    </tr>
}

</table>
