@model IEnumerable<DAL.Models.Vendedor>




@{
    ViewBag.Title = "Listado Vendedores";
}


<div class="row">
    <div class="col-md-12">
        <div class="card card-topline-red">
            <div class="card-head">
                <header>LISTADO VENDEDORES</header>
                <div class="tools hidden">
                    <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body ">
                <div class="row p-b-20">
                    <div class="col-md-6 col-sm-6 col-6">
                        <div class="btn-group">
                            @Html.ActionLink("content_copy", "Create", null, new { @class = "material-icons", @style = "color:black", data_toggle = "tooltip", data_placement = "top", title = "Nuevo" })
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column full-width" id="example4">
                    <thead>
                        <tr>
                            <th>
                                Cod
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.nomvnd)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tipdoc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.numdoc)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.estado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.telefono)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.correo)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                        <tr class="odd gradeX">
                            <td>
                                @Html.DisplayFor(modelItem => item.CodVnd)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nomvnd)
                            </td>
                            <td>
                                @if (item.tipdoc.Equals("01"))
                                {
                                    <span>DNI</span>
                                }
                                @if (item.tipdoc.Equals("02"))
                                {
                                    <span>RUC</span>}
                                @if (item.tipdoc.Equals("03"))
                                {
                                    <span>Extranjeria</span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.numdoc)
                            </td>
                            <td>
                                @if (item.estado.Equals("001"))
                                {
                                    <span class="label label-sm box-shadow-1 label-success">Activo</span>
                                }
                                else
                                {
                                    <span class="label label-sm box-shadow-1 label-warning">Desactivado </span>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.correo)
                            </td>
                            <td>
                                @Html.ActionLink("create", "Edit", new { id = item.CodVnd.Trim() }, new { @class = "material-icons", @style = "color:black", data_toggle = "tooltip", data_placement = "top", title = "Editar" })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>