<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <title>@ViewBag.Title - App Mantenimiento</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

   
</head>
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-white" style="font-size:12px">

    <div class="page-wrapper">
        <!-- start header -->
        <div class="page-header navbar navbar-fixed-top">
            <div class="page-header-inner ">
                <!-- logo start -->
                <div class="page-logo">
                    <a href="index.html">
                        <img alt="" src="../../assets/img/logo.png">
                        <span class="logo-default">ECab</span>
                    </a>
                </div>
                <!-- logo end -->
                <ul class="nav navbar-nav navbar-left in">
                    <li><a href="#" class="menu-toggler sidebar-toggler font-size-23"><i class="fa fa-bars"></i></a></li>
                </ul>


                <!-- start mobile menu -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <!-- end mobile menu -->
                <!-- start header menu -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">

                        <!-- start manage user dropdown -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <img alt="" class="img-circle " src="~/assets/img/dp.jpg" />

                            </a>
                            <ul class="dropdown-menu dropdown-menu-default animated jello">
                                <li class="hidden">
                                    <a href="user_profile.html">
                                        <i class="fa fa-user-o"></i> Profile
                                    </a>
                                </li>

                                <li class="divider"> </li>

                                <li>
                                    @Html.ActionLink("Salir", "LogOff", "Account", null, new { @class = "fa fa-sign-out" })

                                </li>
                            </ul>
                        </li>
                        <!-- end manage user dropdown -->
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a id="headerSettingButton" class="mdl-button mdl-js-button mdl-button--icon pull-right" data-upgraded=",MaterialButton">
                                <i class="material-icons">more_vert</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end header -->
        <!-- start page container -->
        <div class="page-container">
            <!-- start sidebar menu -->
            <div class="sidebar-container">
                <div class="sidemenu-container navbar-collapse collapse fixed-menu">
                    <div id="remove-scroll">
                        <ul class="sidemenu page-header-fixed p-t-20" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <li class="sidebar-user-panel">
                                <div class="user-panel">
                                    <div class="pull-left image">
                                        <img src="~/assets/img/dp.jpg" class="img-circle user-img-circle" alt="User Image" />
                                    </div>
                                    <div class="pull-left info">
                                        <h5><small style="color:white">@System.Web.HttpContext.Current.User.Identity.Name</small></h5>
                                        @Html.ActionLink("person", "ResetPassword", "Account", null, new { @class = "material-icons hidden" })
                                        @Html.ActionLink("power_settings_new", "LogOff", "Account", null, new { @class = "material-icons" })
                                    </div>
                                </div>
                            </li>




                            <li class="menu-heading ">
                                <span>-- Mantenimiento</span>

                            </li>
                            <!-- start menu almacen -->
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">dashboard</i>
                                    <span class="title">Almacenes</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        @Html.ActionLink("Almacenes", "Index", "Almacenes", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("Agregar Almacenes", "Create", "Almacenes", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end menu almacen -->
                            <!-- start menu Cliente -->
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">dashboard</i>
                                    <span class="title">Clientes</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        @Html.ActionLink("Listado Clientes", "Index", "Clientes", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("Agregar Cliente", "Create", "Clientes", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end menu Cliente -->
                            <!-- start menu vendedor -->
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">dashboard</i>
                                    <span class="title">Vendedores</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        @Html.ActionLink("Vendedores", "Index", "Vendedores", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("Agregar Vendedores", "Create", "Vendedores", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end menu vendedor -->
                            <!-- start menu proveedor -->
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">dashboard</i>
                                    <span class="title">Proveedores</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        @Html.ActionLink("Proveedores", "Index", "Proveedores", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("Agregar Proveedores", "Create", "Proveedores", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end menu proveedor -->
                            <!-- start menu producto -->
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">dashboard</i>
                                    <span class="title">Productos</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        @Html.ActionLink("Listado Productos", "Index", "Productos", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("Agregar Producto", "Create", "Productos", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end menu producto -->
                            <!-- start menu unidad medida -->
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">dashboard</i>
                                    <span class="title">Unidad de medida</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        @Html.ActionLink("Unidades de medida", "Index", "UnidadMedidas", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("Agregar Unidades de medida", "Create", "UnidadMedidas", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end menu unidad medida -->
                            <!-- start menu linea producto -->
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">dashboard</i>
                                    <span class="title">Linea productos</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        @Html.ActionLink("Linea productos", "Index", "LineaProductos", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("Agregar Linea productos", "Create", "LineaProductos", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end menu linea producto -->
                            <!-- start menu sublinea producto -->
                            <li class="nav-item">
                                <a href="#" class="nav-link nav-toggle">
                                    <i class="material-icons">dashboard</i>
                                    <span class="title">Sublinea productos</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item">
                                        @Html.ActionLink("Sublinea productos", "Index", "SubLineaProductos", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        @Html.ActionLink("Agregar Sublinea productos", "Create", "SubLineaProductos", null, new { @class = "nav-link" })
                                        </a>
                                    </li>
                                </ul>
                            </li>


                            <!-- end menu sublinea producto -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end sidebar menu -->
            <!-- start page content -->
            <div class="page-content-wrapper">
                <div class="page-content">

                    @RenderBody()
                </div>
            </div>
            <!-- end page content -->
            <!-- start chat sidebar -->
            <div class="chat-sidebar-container" data-close-on-body-click="false">
                <div class="chat-sidebar">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a href="#quick_sidebar_tab_1" class="nav-link active tab-icon" data-toggle="tab">
                                Theme
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane chat-sidebar-settings in show active animated shake" role="tabpanel" id="quick_sidebar_tab_1">
                            <div class="slimscroll-style">
                                <div class="theme-light-dark hidden">
                                    <h6>Sidebar Theme</h6>
                                    <button type="button" data-theme="white" class="btn lightColor btn-outline btn-circle m-b-10 theme-button">Light Sidebar</button>
                                    <button type="button" data-theme="dark" class="btn dark btn-outline btn-circle m-b-10 theme-button">Dark Sidebar</button>
                                </div>
                                <div class="theme-light-dark">
                                    <h6>Sidebar Color</h6>
                                    <ul class="list-unstyled">
                                        <li class="complete">
                                            <div class="theme-color sidebar-theme">
                                                <a href="#" onclick="configurarSideBar('white')" data-theme="white"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarSideBar('dark')" data-theme="dark"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarSideBar('blue')" data-theme="blue"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarSideBar('indigo')" data-theme="indigo"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarSideBar('cyan')" data-theme="cyan"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarSideBar('green')" data-theme="green"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarSideBar('red')" data-theme="red"><span class="head"></span><span class="cont"></span></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <h6>Header Brand color</h6>
                                    <ul class="list-unstyled">
                                        <li class="theme-option">
                                            <div class="theme-color logo-theme">
                                                <a href="#" onclick="configurarLogo('white')" data-theme="logo-white"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarLogo('dark')" data-theme="logo-dark"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarLogo('blue')" data-theme="logo-blue"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarLogo('indigo')" data-theme="logo-indigo"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarLogo('cyan')" data-theme="logo-cyan"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarLogo('green')" data-theme="logo-green"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarLogo('red')" data-theme="logo-red"><span class="head"></span><span class="cont"></span></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <h6>Header color</h6>
                                    <ul class="list-unstyled">
                                        <li class="theme-option">
                                            <div class="theme-color header-theme">
                                                <a href="#" onclick="configurarHeader('white')" data-theme="header-white"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarHeader('dark')" data-theme="header-dark"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarHeader('blue')" data-theme="header-blue"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarHeader('indigo')" data-theme="header-indigo"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarHeader('cyan')" data-theme="header-cyan"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarHeader('green')" data-theme="header-green"><span class="head"></span><span class="cont"></span></a>
                                                <a href="#" onclick="configurarHeader('red')" data-theme="header-red"><span class="head"></span><span class="cont"></span></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Start Setting Panel -->
                        <div class="tab-pane chat-sidebar-settings animated slideInUp hidden" id="quick_sidebar_tab_2">
                            <div class="chat-sidebar-settings-list slimscroll-style">
                                <div class="chat-header"><h5 class="list-heading">Layout Settings</h5></div>
                                <div class="chatpane inner-content ">
                                    <div class="settings-list">
                                        <div class="setting-item">
                                            <div class="setting-text">Sidebar Position</div>
                                            <div class="setting-set">
                                                <select class="sidebar-pos-option form-control input-inline input-sm input-small ">
                                                    <option value="left" selected="selected">Left</option>
                                                    <option value="right">Right</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Header</div>
                                            <div class="setting-set">
                                                <select class="page-header-option form-control input-inline input-sm input-small ">
                                                    <option value="fixed" selected="selected">Fixed</option>
                                                    <option value="default">Default</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Sidebar Menu </div>
                                            <div class="setting-set">
                                                <select class="sidebar-menu-option form-control input-inline input-sm input-small ">
                                                    <option value="accordion" selected="selected">Accordion</option>
                                                    <option value="hover">Hover</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="setting-item">
                                            <div class="setting-text">Footer</div>
                                            <div class="setting-set">
                                                <select class="page-footer-option form-control input-inline input-sm input-small ">
                                                    <option value="fixed">Fixed</option>
                                                    <option value="default" selected="selected">Default</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end chat sidebar -->
        </div>
        <!-- end page container -->
        <!-- start footer -->
        <div class="page-footer">
            <div class="page-footer-inner">
                2018 &copy; ECab Taxi Admin Template By
                <a href="" target="_top" class="makerCss">Redstartheme</a>
            </div>
            <div class="scroll-to-top">
                <i class="material-icons">eject</i>
            </div>
        </div>
        <!-- end footer -->
    </div>



    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("scripts", required: false)

    <script>
        function configurarSideBar(datos)
        {
            $.ajax({
            cache: false,
            type: "GET",
                url: '@Url.Action("SetSideBar", "Theme")',
                datatype: "json",
                data: { "color": datos},
                success: function (data) {
                    setSideBar(datos);
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
            });
        }
        function configurarHeader(datos) {
                    $.ajax({
            cache: false,
            type: "GET",
                url: '@Url.Action("SetHeader", "Theme")',
                datatype: "json",
                data: { "color": datos},
                success: function (data) {
                    SetHeader(datos);
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
            });
        }
        function configurarLogo(datos) {
                    $.ajax({
            cache: false,
            type: "GET",
                url: '@Url.Action("SetLogo", "Theme")',
                datatype: "json",
                data: { "color": datos},
                success: function (data) {
                    SetLogo(datos);
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
            });
        }



            //Cargar themes
            $.ajax({
            cache: false,
            type: "GET",
                url: '@Url.Action("LoadTheme", "Theme")',
                datatype: "json",
                success: function (data) {

            },
                error: function (xhr, ajaxOptions, thrownError) {
            }
            });


        //Obtener theme actual
            $.ajax({
            cache: false,
            type: "GET",
                url: '@Url.Action("GetSideBar", "Theme")',
                datatype: "json",
                success: function (data) {
                    setSideBar(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
            });


            //get current Header
            $.ajax({
            cache: false,
            type: "GET",
                url: '@Url.Action("GetHeader", "Theme")',
                datatype: "json",
                success: function (data) {
                    setHeader(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
            });


            //get current Logo
            $.ajax({
            cache: false,
            type: "GET",
                url: '@Url.Action("GetLogo", "Theme")',
                datatype: "json",
                success: function (data) {
                    setLogo(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve books.');
            }
        });


        //SideBar Configuracion
        function setSideBar(datos)
        {
            var color = datos;
            jQuery("body").removeClass("white-sidebar-color dark-sidebar-color blue-sidebar-color indigo-sidebar-color green-sidebar-color red-sidebar-color cyan-sidebar-color");
            switch (color) {
                case "white":
                    jQuery("body").addClass("white-sidebar-color");
                    break;
                case "dark":
                    jQuery("body").addClass("dark-sidebar-color");
                    break;
                case "blue":
                    jQuery("body").addClass("blue-sidebar-color");
                    break;
                case "indigo":
                    jQuery("body").addClass("indigo-sidebar-color");
                    break;
                case "green":
                    jQuery("body").addClass("green-sidebar-color");
                    break;
                case "red":
                    jQuery("body").addClass("red-sidebar-color");
                    break;
                case "cyan":
                    jQuery("body").addClass("cyan-sidebar-color");
                    break;
                case "default":
                    jQuery("body").addClass("dark-sidebar-color");
                    break;
            }
        }



        //Configuracion logo
        function setLogo(datos)
        {
            var color = datos;
            jQuery("body").removeClass("logo-white logo-dark logo-blue logo-indigo logo-red logo-cyan logo-green");

            switch (color) {
                case "white":
                    jQuery("body").addClass("logo-white");
                    break;
                case "dark":
                    jQuery("body").addClass("logo-dark");
                    break;
                case "blue":
                    jQuery("body").addClass("logo-blue");
                    break;
                case "indigo":
                    jQuery("body").addClass("logo-indigo");
                    break;
                case "green":
                    jQuery("body").addClass("logo-green");
                    break;
                case "red":
                    jQuery("body").addClass("logo-red");
                    break;
                case "cyan":
                    jQuery("body").addClass("logo-cyan");
                    break;
                default:
                    jQuery("body").addClass("indigo-white");
                    break;
            }
        }

        //Configuracion Header
        function setHeader(datos)
        {
            var color = datos;
            jQuery("body").removeClass("header-white header-dark header-blue header-indigo header-red header-cyan header-green");

            switch (color) {
                case "white":
                    jQuery("body").addClass("header-white");
                    break;
                case "dark":
                    jQuery("body").addClass("header-dark");
                    break;
                case "blue":
                    jQuery("body").addClass("header-blue");
                    break;
                case "indigo":
                    jQuery("body").addClass("header-indigo");
                    break;
                case "green":
                    jQuery("body").addClass("header-green");
                    break;
                case "red":
                    jQuery("body").addClass("header-red");
                    break;
                case "cyan":
                    jQuery("body").addClass("header-cyan");
                    break;
                default:
                    jQuery("body").addClass("header-blue");
                    break;
            }
        }


    </script>

    @if (@ViewBag.resultado != null)
    {
        <script>
        alert('@ViewBag.resultado');
        </script>
    }


</body>
</html>
